* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
.container {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.75rem 0;
}
.container nav .nav-header {
  display: flex;
  align-items: center;
  width: 50%;
  margin-left: 2rem;
}
.container nav .nav-header img {
  margin: 0 1rem;
  width: 3.8rem;
  height: 3.8rem;
}
.container nav .nav-header h1 {
  font-size: 1.5rem;
}
.container nav .nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}
.container nav .nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 1rem;
  align-items: center;
  text-align: center;
}
.container nav .nav-links a.active {
  font-size: 1.5rem;
}
.container nav .nav-links a img {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  margin-right: 1rem;
}
.container nav .nav-links a img.active {
  width: 1.5rem;
  height: 1.5rem;
}
.container section {
  width: 100%;
}
.container .jumbo {
  width: 100%;
}
.container .jumbo img {
  width: 100%;
  padding-top: 92px;
  margin-bottom: -20px;
}
.container .intro {
  background-color: black;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 800px) {
  .container .intro {
    flex-direction: column;
    text-align: center;
    padding-bottom: 2rem;
  }
}
.container .intro .intro-img {
  width: 40%;
}
@media (max-width: 800px) {
  .container .intro .intro-img {
    width: 100%;
  }
}
.container .intro .intro-img img {
  width: 100%;
  margin: 2rem;
}
@media (max-width: 800px) {
  .container .intro .intro-img img {
    width: 75%;
  }
}
@media (max-width: 500px) {
  .container .intro .intro-img img {
    display: none;
  }
}
.container .intro .intro-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  height: 100%;
  margin: 1rem;
}
@media (max-width: 800px) {
  .container .intro .intro-text {
    width: 75%;
    padding: 0;
    margin: 0;
    text-align: left;
  }
}
.container .intro .intro-text h2 {
  font-size: 1.9rem;
}
.container .intro .intro-text p {
  font-size: 1.3rem;
}
.container .intro .intro-text .sign-me-up {
  width: 48%;
  background-color: #2ECC71;
  height: 2.3rem;
  border: none;
  color: white;
  font-size: 1.3rem;
}
@media (max-width: 500px) {
  .container .intro .intro-text .sign-me-up {
    width: 100%;
  }
}
.container .sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  margin-bottom: 3rem;
  border-bottom: 1px solid black;
}
.container .sign-up .sign-up-header h2 {
  font-size: 5rem;
  width: 80%;
  margin: 4rem auto;
  text-align: center;
}
@media (max-width: 800px) {
  .container .sign-up .sign-up-header h2 {
    font-size: 3rem;
  }
}
.container .sign-up .sign-up-content {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .container .sign-up .sign-up-content {
    flex-direction: column;
    align-items: center;
  }
}
.container .sign-up .sign-up-content .sign-up-col {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .container .sign-up .sign-up-content .sign-up-col {
    width: 75%;
    margin-bottom: 2rem;
  }
}
.container .sign-up .sign-up-content .sign-up-col h3 {
  font-size: 3rem;
  border-bottom: 2px dashed black;
  width: 50%;
  padding: 1rem;
  text-align: center;
  margin-top: 0;
}
@media (max-width: 500px) {
  .container .sign-up .sign-up-content .sign-up-col h3 {
    color: white;
    background-color: black;
    width: 100%;
    height: 2rem;
    text-align: center;
    padding: 0.75rem;
  }
}
@media (max-width: 800px), (max-width: 500px) {
  .container .sign-up .sign-up-content .sign-up-col h3 {
    font-size: 2rem;
  }
}
.container .sign-up .sign-up-content .sign-up-col .step-box {
  width: 50%;
  height: 250px;
  text-align: center;
  margin-bottom: 2rem;
  border: 1px solid black;
  padding: 2rem 1rem;
}
@media (max-width: 500px), (max-width: 800px) {
  .container .sign-up .sign-up-content .sign-up-col .step-box {
    width: 75%;
    height: 250px;
  }
}
.container .sign-up .sign-up-content .sign-up-col .step-box p {
  font-size: 1.4rem;
}
.container .sign-up .sign-up-content .bori {
  border-right: 1px solid black;
}
@media (max-width: 500px) {
  .container .sign-up .sign-up-content .bori {
    border-right: none;
  }
}
.container .sign-up a {
  width: 100%;
  text-align: center;
}
.container .sign-up .sign-me-up {
  width: 78%;
  background-color: #2ECC71;
  height: 4rem;
  border: none;
  color: white;
  font-size: 1.3rem;
  margin: 2rem 0;
}
@media (max-width: 500px), (max-width: 800px) {
  .container .sign-up .sign-me-up {
    width: 91%;
  }
}
.container .browse-workers {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.container .browse-workers .browse-workers-header {
  width: 90%;
  padding: 1rem ;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.container .browse-workers .browse-workers-header h1 {
  font-size: 2rem;
}
@media (max-width: 800px) {
  .container .browse-workers .browse-workers-header h1 {
    background-color: black;
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: 1rem 0;
    width: 75%;
  }
}
@media (max-width: 500px) {
  .container .browse-workers .browse-workers-header h1 {
    font-size: 1.9rem;
    padding: 1.5rem;
  }
}
.container .browse-workers .browse-workers-header .searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
@media (max-width: 800px) {
  .container .browse-workers .browse-workers-header .searchbar {
    flex-direction: column;
  }
  .container .browse-workers .browse-workers-header .searchbar img {
    display: none;
  }
}
.container .browse-workers .browse-workers-header .searchbar input,
.container .browse-workers .browse-workers-header .searchbar select {
  margin-left: 1rem;
  width: 15rem;
  text-align: center;
  border-radius: 5px;
  height: 1.8rem;
  border: none;
}
@media (max-width: 800px) {
  .container .browse-workers .browse-workers-header .searchbar input,
  .container .browse-workers .browse-workers-header .searchbar select {
    width: 25rem;
    margin-bottom: 2rem;
  }
}
.container .browse-workers .browse-workers-header .searchbar button {
  margin-left: 1rem;
}
.container .browse-workers .browse-workers-header .searchbar .go {
  width: 5rem;
  height: 2rem;
  border-radius: 6px;
  background-color: #2ECC71;
  color: white;
  font-size: 1rem;
  border: none;
}
@media (max-width: 800px) {
  .container .browse-workers .browse-workers-header .searchbar .go {
    width: 15rem;
  }
}
.container .browse-workers .browse-workers-header {
  margin-bottom: 2rem;
}
.container .browse-workers .browse-workers-content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 800px) {
  .container .browse-workers .browse-workers-content {
    flex-direction: column;
    align-items: center;
  }
}
.container .browse-workers .browse-workers-content .browse-workers-col {
  width: 40%;
  text-align: center;
}
@media (max-width: 800px) {
  .container .browse-workers .browse-workers-content .browse-workers-col {
    width: 75%;
  }
}
@media (max-width: 500px) {
  .container .browse-workers .browse-workers-content .browse-workers-col {
    width: 85%;
  }
}
.container .browse-workers .browse-workers-content .browse-workers-col .browse-workers-box {
  padding: 2.5rem;
  border: 1px solid black;
  margin-bottom: 4rem;
}
.container .browse-workers .browse-workers-content .browse-workers-col .browse-workers-box img {
  width: 75%;
}
.container .browse-workers .browse-workers-content .browse-workers-col .browse-workers-box .send-tip-btn {
  width: 75%;
  background-color: #2ECC71;
  height: 3rem;
  border: none;
  color: white;
  font-size: 1.3rem;
  margin: 2rem 0;
}
@media (max-width: 500px) {
  .container .browse-workers .browse-workers-content .browse-workers-col .browse-workers-box .send-tip-btn {
    width: 85%;
  }
}
.container .browse-workers .browse {
  background-color: black;
  color: white;
  padding: 1.5rem;
  font-size: 1.3rem;
  margin-bottom: 4rem;
}
.container .browse-businesses {
  margin: 0;
  width: 100%;
}
.container .browse-businesses img {
  width: 100%;
  margin-bottom: -10px;
}
.container .browse-businesses .sign-me-up {
  width: 100%;
  height: 5rem;
  background-color: #2ECC71;
  border: none;
  color: white;
  font-size: 1.3rem;
  margin: 0;
}
@media (max-width: 500px) {
  .container .browse-businesses .sign-me-up {
    height: 3rem;
    font-size: 1rem;
  }
}
.container footer {
  width: 100%;
  margin: 0;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}
.container footer img {
  padding: 3rem;
  width: 2rem;
}
.container .forms-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 500px) {
  .container .forms-container {
    flex-direction: column;
    height: auto;
  }
}
.container .forms-container .form-col {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2rem auto;
}
@media (max-width: 500px) {
  .container .forms-container .form-col {
    width: 75%;
    border: 1px solid black;
  }
}
.container .forms-container .form-col h2 {
  text-decoration: underline;
}
.container .forms-container .form-col h4 {
  margin: 1rem auto;
  padding-bottom: 1rem;
  width: 50%;
  border-bottom: 1px solid black;
}
@media (max-width: 800px) {
  .container .forms-container .form-col h4 {
    width: 75%;
  }
}
.container .forms-container .form-col form input,
.container .forms-container .form-col select {
  text-align: center;
  width: 50%;
  margin: 0.75rem;
  height: 2rem;
  border: 1px solid black;
}
@media (max-width: 800px) {
  .container .forms-container .form-col form input,
  .container .forms-container .form-col select {
    width: 75%;
  }
}
.container .forms-container .form-col .google-login {
  border: 1px solid black;
  width: 50%;
  margin: 1rem auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 800px) {
  .container .forms-container .form-col .google-login {
    width: 75%;
  }
}
.container .forms-container .form-col .sign-me-up {
  width: 50%;
  height: 2.2rem;
  background-color: #2ECC71;
  border: none;
  color: white;
  font-size: 1.3rem;
  margin: 0.75rem 0;
}
@media (max-width: 800px) {
  .container .forms-container .form-col .sign-me-up {
    width: 75%;
  }
}
.container .forms-container .bori {
  border-right: 1px solid black;
}
@media (max-width: 500px) {
  .container .forms-container .bori {
    border-right: none;
  }
}
